body{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  margin: 0px;  
}

.coin_info{
  display: inline-block;
  padding: 0px;
  border: 2px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  width: 40%;
  margin: 5px;
  padding: 10px;
  background-color: teal

}

.coin_header{
  color: yellowgreen;
}

.coin_price{
  color: yellowgreen;
}


.main{
  color:yellowgreen;
  font-size: 60px;
  display: inline-block;
}


.message{
  display: inline;
}

