body{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  margin: 0px;  
}

.coin_info{
  display: inline-block;

  border: 2px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  width: 400px;
  margin: 5px;
  padding: 20px;
  background-color: teal
}

@media only screen and (max-width: 479px){
  .coin_info {width: 70%; }

}

.coin_header{
  color: yellowgreen;
  
}

.coin_price{
  color: rgb(223, 223, 223);
}


.coin_change_positive{
  padding: 3px;
  display: inline;  
  background-color: rgba(154, 205, 50, 0.295);
  color: rgb(166, 221, 55);
}
  
.coin_change_negative{
  padding: 3px;
  display: inline;
  background-color: rgba(255, 0, 0, 0.295);
  color:rgb(255, 98, 71);
}


.main{
  color:yellowgreen;
  font-size: 60px;
  display: inline-block;
}


.message{
  display: inline;
}

a{
  text-decoration: none;
  color:black;
}
